<div id="vertical-flex">
    <section id="attempts">
        <app-attempt class="row" rowNum="row0" ready="{{ ready0 }}" (changeReady)="toggleReady0()"></app-attempt>
        <app-attempt class="row" rowNum="row1" ready="{{ ready1 }}" (changeReady)="toggleReady1()"></app-attempt>
        <app-attempt class="row" rowNum="row2" ready="{{ ready2 }}" (changeReady)="toggleReady2()"></app-attempt>
        <app-attempt class="row" rowNum="row3" ready="{{ ready3 }}" (changeReady)="toggleReady3()"></app-attempt>
        <app-attempt class="row" rowNum="row4" ready="{{ ready4 }}" (changeReady)="toggleReady4()"></app-attempt>
        <app-attempt class="row" rowNum="row5" ready="{{ ready5 }}" (changeReady)="toggleReady5()"></app-attempt>
    </section>
    <section id="keyboard">
        <div>
            <p>KEYBOARD</p>
        </div>
        <!-- <app-keyboard></app-keyboard> -->
    </section>
</div>