#vertical-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 7vh;
    gap: 7vh;
}

#attempts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#keyboard-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}