<div class="keyRow">
    <app-button classVal="btn untyped letterBtn" idVal="letterQ" text="Q" (btnClick)="clickKey('Q')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterW" text="W" (btnClick)="clickKey('W')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterE" text="E" (btnClick)="clickKey('E')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterR" text="R" (btnClick)="clickKey('R')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterT" text="T" (btnClick)="clickKey('T')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterY" text="Y" (btnClick)="clickKey('Y')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterU" text="U" (btnClick)="clickKey('U')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterI" text="I" (btnClick)="clickKey('I')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterO" text="O" (btnClick)="clickKey('O')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterP" text="P" (btnClick)="clickKey('P')"></app-button>
</div>
<div class="keyRow">
    <app-button classVal="btn untyped letterBtn" idVal="letterA" text="A" (btnClick)="clickKey('A')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterS" text="S" (btnClick)="clickKey('S')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterD" text="D" (btnClick)="clickKey('D')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterF" text="F" (btnClick)="clickKey('F')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterG" text="G" (btnClick)="clickKey('G')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterH" text="H" (btnClick)="clickKey('H')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterJ" text="J" (btnClick)="clickKey('J')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterK" text="K" (btnClick)="clickKey('K')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterL" text="L" (btnClick)="clickKey('L')"></app-button>
</div>
<div class="keyRow">
    <app-button classVal="btn untyped enterBtn" idVal="letterENTER" text="Enter" (btnClick)="clickKey('ENTER')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterZ" text="Z" (btnClick)="clickKey('Z')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterX" text="X" (btnClick)="clickKey('X')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterC" text="C" (btnClick)="clickKey('C')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterV" text="V" (btnClick)="clickKey('V')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterB" text="B" (btnClick)="clickKey('B')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterN" text="N" (btnClick)="clickKey('N')"></app-button>
    <app-button classVal="btn untyped letterBtn" idVal="letterM" text="M" (btnClick)="clickKey('M')"></app-button>
    <app-button label="backspace-icon" icon="assets/icons/backspace-icon.png" classVal="btn untyped backspaceBtn" idVal="letterENTER" (btnClick)="clickKey('BACKSPACE')"></app-button>
</div>