@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Ubuntu:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda Caption', sans-serif;
}

.container {
    border: 2px solid #a5a5a5;
    height: 100vh;
}